<h1>Vista matematicas</h1>

<ul>
    <li>
        @Html.ActionLink("Vista Suma de matematicas 33 y 22", "SumarNumerosGet", "Matematicas", new{numero1 = 33, numero2 = 22})
    </li>
    <li>
        @Html.ActionLink("Vista Realizacion suma", "SumarNumerosPost", "Matematicas")
    </li>
    <li>
        @Html.ActionLink("Conjetura Collatz", "ConjeturaCollatz", "Matematicas")
    </li>
</ul>