<h1>
    Suma de numeros
</h1>

<form method="post">
    <label>Numero 1: </label>
    <input type="number" name="numero1" class="form-control" />
    <label>Numero 2: </label> 
    <input type="number" name="numero2" class="form-control" />
    <button class=" btn btn-info">Sumar numeros</button>
</form>

<h2 style="color:purple">Resultado: @ViewData["RESULTADO"]</h2>