@*
    COMENTARIOS EN RAZOR
*@

DECLARACION DE VARIABLES A NIVEL DE PAGINA

@{
    //VARIABLES LOCALES DE PAGINA
    //TODO ESTO ES CODIGO C#
    int valor = 15;
    string texto = "Hoy es lunes";
    valor += 1;
    texto = texto.ToUpper();
}

DIBUJAR VARIABLES

<h2 style="color:red">Texto @texto, Número: @valor</h2>

CODIGO LOGICO

@if (valor >= 0)
{
    //codigo c#
    texto = "POSITIVO";
    <h2 style="color:green">@texto</h2>
}else
{
    texto = "NEGATIVO";
    <h2 style="color:purple">@texto</h2>
}

<h1 style="color:blue">
    Mi primera pagina MVC Net Core!!!
</h1>